@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

h1 {
	font-family: "Libre Baskerville", serif;
}
body {
	text-align: center;
	background-color: rgb(244, 242, 242);
}
/*FORM STYLE------------------------*/
form {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
label {
	display: block;
}
input[type="text"],
textarea {
	display: block;
	margin: 0 auto;
	width: 80%;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	padding: 10px;
}
.form-buttons{
	width: 100px;
	height: 37px;
	background-color: #fcee85;
	color: #000000;
	border: none;
}
button:hover {
	transform: scale(1.1);
	transition: transform .25s ease;
    }
input[type="submit"]:hover {
	transform: scale(1.1);
	transition: transform .25s ease;
}
.fillout {
	display: flex;
	justify-content: center;
}
/*------------------------*/
/*FEED STYLE------------------------*/
#container {
	/*border: 1px solid rgb(0, 0, 0);*/
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(206, 206, 206);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 350px;
  display: inline-block;
  background-color: white;
}

.yes-btn{
	width: 75px;
	height: 30px;
	background-color: #07a935;
	color: #ffffff;
	border: none;
}
.no-btn{
	width: 75px;
	height: 30px;
	background-color: #ed250a;
	color: #ffffff;
	border: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}
ul li {
	margin-bottom: 10px;
}
/*FOOTER------------------------*/
footer {
	text-align: center;
}